<p>Search Item Component Loaded</p>
<section class="card-board">
  <div class="card-container" *ngIf="searchItem">
    <p>Rendering SearchItem for: {{ searchItem.snippet.title }}</p>
    <div class="card">
      <img [src]="searchItem.snippet.thumbnails.high.url" [alt]="searchItem.snippet.title" />
      <div class="card-content">
        <div class="card-statistics">
          <div class="icon-viewed">
            <img src="assets/icons/viewed.svg" alt="Viewed Icon" />
          </div>
          <div class="text-viewed">{{ searchItem.statistics.viewCount }}</div>
          <div class="icon-liked">
            <img src="assets/icons/liked.svg" alt="Liked Icon" />
          </div>
          <div class="text-liked">{{ searchItem.statistics.likeCount }}</div>
          <div class="icon-disliked">
            <img src="assets/icons/disliked.svg" alt="Disliked Icon" />
          </div>
          <div class="text-disliked">{{ searchItem.statistics.dislikeCount }}</div>
          <div class="icon-comments">
            <img src="assets/icons/Group 9.svg" alt="Comments Icon" />
          </div>
          <div class="text-comments">{{ searchItem.statistics.commentCount }}</div>
        </div>
        <div class="card-title">{{ searchItem.snippet.title }}</div>
        <div class="card-description">{{ searchItem.snippet.description }}</div>
        <button (click)="toggleFavorite(searchItem!)">
          <i [class.filled]="isFavorite" class="fa fa-heart"></i>
        </button>
        <button class="card-button" [routerLink]="['/video', searchItem.id]">more...</button>
      </div>
      <div appSearchItem class="card-color"></div>
    </div>
  </div>
</section>
